<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.title %}
        <title>{{ page.title }} | {{ site.name }}</title>
        {% else %}
        <title>{{ site.name }}</title>
        {% endif %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/font.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{ content }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <hr>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                        <img alt="Licence Creative Commons" style="border-width:0" src="//i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    <br>
		    Dieser Inhalt ist eine Übersetzung und Anpassung an deutsche Besonderheiten von
		    <a rel="licence" href="http://creativecommons.org/licenses/by-sa/4.0/">
		    Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International</a>
		    Alle Inhalte die auf dieser Seite verlinkt sind stehen unter ihrer einer eigenen Lizenz.
		    [<a href="https://github.com/cccs/ichhabenichtszuverbergen.de">Quellen</a>]
                </div>
            </div>
        </div>
        <!-- Piwik -->
        <!--script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.vanoix.co/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 6]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//piwik.vanoix.co/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript-->
        <!-- End Piwik Code -->
    </body>
</html>
